:root {
  --max-width: 120rem;
  /* 1920px */
  --grey: #ECECEC;
  --purple: #A675F5;
  --blue: #050542;
  --blue-50: rgba(5, 5, 66, 0.5);
  --green: #66E5BF;
  --yellow: #FFFC86;
  --background: var(--grey);
  --color: var(--blue);
  --button-color: var(--grey);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

body {
  background-color: var(--background);
  color: var(--color);
  padding: 0 clamp(1rem, 4vw, 8rem) 3rem;
  width: max-content;
}

h1, h2 {
  letter-spacing: -0.04em;
  line-height: 1;
}

h3, h4, th {
  letter-spacing: -0.03em;
}

header, section {
  border-radius: 1rem;
}

section {
  width: max-content;
  margin: 2rem 0 0;
  border: 2px solid var(--green);
}

section h2 {
  padding: 1rem 1rem 0;
  width: max-content;
  max-width: 100%;
}

section h2, section caption, section th:not([class]) {
  position: sticky;
  left: 0;
}

header {
  width: max-content;
  max-width: 90vw;
  padding: 2em 1em;
  background: var(--green);
  margin: 2rem 0 0;
}

table {
  display: block;
  margin-top: 2em;
  padding-bottom: 1rem;
}

th, td {
  width: 20vw;
  padding: 0.5em 1rem 0;
  min-width: 300px;
}

th {
  padding-top: 1em;
}

@media (max-width: 700px) {
  th[colspan] {
    display: block;

  }
}
caption {
  padding: 0.5em 1em;
}

header+section,
section+section {
  margin-top: 4em;
}


h2+p,
h1+p,
h3+p {
  margin-top: 0.5em;
}

p+p {
  margin-top: 1em;
}

p, caption {
  max-width: 80ch;
}
